.label{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    
}
.input{
    width: 180px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.input:hover,
.input:focus {
    box-shadow: inset 0 0 1px 1px red;
    background: #fff;
}