.list_item{
    border: 3px solid white;
    box-shadow: 2px 2px 5px #ffd700;
    border-radius: 5px;
    margin-left: 70px;
    width: 500px;
    list-style: none;
    padding-left: 0;
}
.list_el{
    padding-left: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid white;
}
.list_btn{
    margin-right: 60px;
    height: 25px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ffd700;
}
.list_title{
    font-size: 17px;
    font-weight: 600;
    color: white;
    
}
.list_btn:hover,
.list_btn:focus {
    box-shadow: 1px 1px 2px red;
    background-color: red;
    color: white;
}